<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Completions</key>
    <array>
      <dict>
        <key>ID</key>
        <string>angular.bind</string>
        <key>String</key>
        <string>angular.bind</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.bootstrap</string>
        <key>String</key>
        <string>angular.bootstrap</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.copy</string>
        <key>String</key>
        <string>angular.copy</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.element</string>
        <key>String</key>
        <string>angular.element</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 16 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.equals</string>
        <key>String</key>
        <string>angular.equals</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.extend</string>
        <key>String</key>
        <string>angular.extend</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.forEach</string>
        <key>String</key>
        <string>angular.forEach</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 16 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.fromJson</string>
        <key>String</key>
        <string>angular.fromJson</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.identity</string>
        <key>String</key>
        <string>angular.identity</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.injector</string>
        <key>String</key>
        <string>angular.injector</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isArray</string>
        <key>String</key>
        <string>angular.isArray</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 16 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isDate</string>
        <key>String</key>
        <string>angular.isDate</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isDefined</string>
        <key>String</key>
        <string>angular.isDefined</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isElement</string>
        <key>String</key>
        <string>angular.isElement</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isFunction</string>
        <key>String</key>
        <string>angular.isFunction</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 19 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isNumber</string>
        <key>String</key>
        <string>angular.isNumber</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isObject</string>
        <key>String</key>
        <string>angular.isObject</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isString</string>
        <key>String</key>
        <string>angular.isString</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.isUndefined</string>
        <key>String</key>
        <string>angular.isUndefined</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 20 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.lowercase</string>
        <key>String</key>
        <string>angular.lowercase</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.module</string>
        <key>String</key>
        <string>angular.module</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.noop</string>
        <key>String</key>
        <string>angular.noop</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.reloadWithDebugInfo</string>
        <key>String</key>
        <string>angular.reloadWithDebugInfo</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 28 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.toJson</string>
        <key>String</key>
        <string>angular.toJson</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.uppercase</string>
        <key>String</key>
        <string>angular.uppercase</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>angular.version</string>
        <key>String</key>
        <string>angular.version</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 16 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$anchorScrollProvider</string>
        <key>String</key>
        <string>$anchorScrollProvider</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 22 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$animateProvider</string>
        <key>String</key>
        <string>$animateProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$compileProvider</string>
        <key>String</key>
        <string>$compileProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$controllerProvider</string>
        <key>String</key>
        <string>$controllerProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 20 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$filterProvider</string>
        <key>String</key>
        <string>$filterProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 16 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$httpProvider</string>
        <key>String</key>
        <string>$httpProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 14 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$interpolateProvider</string>
        <key>String</key>
        <string>$interpolateProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 21 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$locationProvider</string>
        <key>String</key>
        <string>$locationProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$logProvider</string>
        <key>String</key>
        <string>$logProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$parseProvider</string>
        <key>String</key>
        <string>$parseProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$rootScopeProvider</string>
        <key>String</key>
        <string>$rootScopeProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 19 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$sceDelegateProvider</string>
        <key>String</key>
        <string>$sceDelegateProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 21 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$sceProvider</string>
        <key>String</key>
        <string>$sceProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$anchorScroll</string>
        <key>String</key>
        <string>$anchorScroll</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 14 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$animate</string>
        <key>String</key>
        <string>$animate</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 9 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$cacheFactory</string>
        <key>String</key>
        <string>$cacheFactory</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 14 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>cacheId</string>
          <string>[options]</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$compile</string>
        <key>String</key>
        <string>$compile</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 9 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>element</string>
          <string>transclude</string>
          <string>maxPriority</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$controller</string>
        <key>String</key>
        <string>$controller</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 12 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>constructor</string>
          <string>locals</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$document</string>
        <key>String</key>
        <string>$document</string>
        <key>PostString</key>
        <string>[].</string>
        <key>SelectionRange</key>
        <string>{ 10 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$exceptionHandler</string>
        <key>String</key>
        <string>$exceptionHandler</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 18 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$filter</string>
        <key>String</key>
        <string>$filter</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 8 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>name</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$http</string>
        <key>String</key>
        <string>$http</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 6 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$httpBackend</string>
        <key>String</key>
        <string>$httpBackend</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$interpolate</string>
        <key>String</key>
        <string>$interpolate</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$interval</string>
        <key>String</key>
        <string>$interval</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 10 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>function()</string>
          <string>delay</string>
          <string>[count]</string>
          <string>[invokeApply]</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$locale</string>
        <key>String</key>
        <string>$locale</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 8 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$location</string>
        <key>String</key>
        <string>$location</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 10 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$log</string>
        <key>String</key>
        <string>$log</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 5 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$parse</string>
        <key>String</key>
        <string>$parse</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 7 , 0}</string>
        <key>Parameters</key>
        <array>
          <string>expression</string>
        </array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$q</string>
        <key>String</key>
        <string>$q</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 3 , 0}</string>
				<key>Parameters</key>
				<array>
					<string>resolver</string>
				</array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$rootElement</string>
        <key>String</key>
        <string>$rootElement</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$rootScope</string>
        <key>String</key>
        <string>$rootScope</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 11 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$scope</string>
        <key>String</key>
        <string>$scope</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 7 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$sce</string>
        <key>String</key>
        <string>$sce</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 5 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$sceDelegate</string>
        <key>String</key>
        <string>$sceDelegate</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$templateCache</string>
        <key>String</key>
        <string>$templateCache</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$templateRequest</string>
        <key>String</key>
        <string>$templateRequest</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$timeout</string>
        <key>String</key>
        <string>$timeout</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 9 , 0}</string>
				<key>Parameters</key>
				<array>
					<string>function()</string>
					<string>[delay]</string>
					<string>[invokeApply]</string>
				</array>
      </dict>
      <dict>
        <key>ID</key>
        <string>$window</string>
        <key>String</key>
        <string>$window</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 8 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$animate</string>
        <key>String</key>
        <string>$animate</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 9 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$animateProvider</string>
        <key>String</key>
        <string>$animateProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 17 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$aria</string>
        <key>String</key>
        <string>$aria</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 6 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$ariaProvider</string>
        <key>String</key>
        <string>$ariaProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 14 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$cookieStore</string>
        <key>String</key>
        <string>$cookieStore</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$cookies</string>
        <key>String</key>
        <string>$cookies</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 9 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$resource</string>
        <key>String</key>
        <string>$resource</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 10 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$routeProvider</string>
        <key>String</key>
        <string>$routeProvider</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 15 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$route</string>
        <key>String</key>
        <string>$route</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 7 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$routeParams</string>
        <key>String</key>
        <string>$routeParams</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 13 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$sanitize</string>
        <key>String</key>
        <string>$sanitize</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 10 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$swipe</string>
        <key>String</key>
        <string>$swipe</string>
        <key>PostString</key>
        <string>.</string>
        <key>SelectionRange</key>
        <string>{ 7 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$emit</string>
        <key>String</key>
        <string>$emit</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 6 , 0}</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>$on</string>
        <key>String</key>
        <string>$on</string>
        <key>PostString</key>
        <string>()</string>
        <key>SelectionRange</key>
        <string>{ 4 , 0}</string>
      </dict>
    </array>
  </dict>
</plist>
